/* Navbar.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 16px 26px; /* py-6 */
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;      /*relative*/
  background-color: #0066CC;
}    

ul {
  list-style: none;
}

li {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

li a {
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  font-size: 18px;
  font-weight: 400;
  padding: 0 10px;
  margin: 0 30px;
  position: relative;
}

li a:hover{
  color: #b7d3ef;
}

li a::before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: aliceblue;
  transition: all .5s;
}

li a:hover::before{
  width: 100%;
}

/* Desktop navbar */
.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.navbar ul li {
  margin-right: 40px; /* mr-10 */
}

.navbar ul li:last-child {
  margin-right: 0;
}

/* Small device navbar */
.menu-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  cursor: pointer;
}

/* Hide desktop menu in small screens */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }

  .mobile-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }

  .sidebar {
    position: absolute;
    top: 50px; /* top-20 */
    right: 0;
    margin: 8px 10px;
    min-width: 140px;
    border-radius: 12px;
    /* background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(50,50,50,0.8) 100%); */
    /* background-color: #0066CC; */
    /* border-style: solid; */
    padding: 24px;       /*24px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    transition: all 0.3s ease-in-out;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar ul li {
    margin-bottom: 16px;
  }

  .sidebar ul li:last-child {
    margin-bottom: 0;
  }
}

/* Show desktop menu on larger screens */
@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}
